# Project
GOOGLE_APPLICATION_CREDENTIALS=.gcp/gcp_service_account_key.json
PROJECT_ID=<YOUR-GCP-PROJECT-ID>
REGION=<YOUR-GCP-REGION>

# Service Account
APP_SERVICE_ACCOUNT_ID=app-service-account
APP_SERVICE_ACCOUNT=${APP_SERVICE_ACCOUNT_ID}@${PROJECT_ID}.iam.gserviceaccount.com

# Google Cloud Storage
BUCKET_NAME=bucket-${PROJECT_ID}
BUCKET_URI=gs://${BUCKET_NAME}

# Vertex AI Platform
PROJECT_NAME=<YOUR-PJ-NAME>
PIPELINE_ROOT=${BUCKET_URI}/pipeline_root/${PROJECT_NAME}
COMPILED_PIPELINE_JSON=compiled_pipline.json

# DATA
CSV_DATA_SOURCE="gs://aju-dev-demos-codelabs/sample_data/california_housing_train.csv"
CSV_FILE_NAME=california_housing_train.csv
GCS_CSV_PATH=${PIPELINE_ROOT}/data/${CSV_FILE_NAME}