{% set PROJECT_ID = env['project']  %}
{% set ZONE = properties['zone']  %}
{% set SERVICE_ACCOUNT_ID = properties['serviceAccountId']  %}
{% set SERVICE_ACCOUNT_DISPLAYNAME = properties['serviceAccountDisplayName']  %}
{% set SERVICE_ACCOUNT = SERVICE_ACCOUNT_ID + '@' + PROJECT_ID + '.iam.gserviceaccount.com' %}


resources:

# Enable Service APIs
- type: deploymentmanager.v2.virtual.enableService
  name: enable-compute-api
  properties:
    consumerId: "project: {{ PROJECT_ID }}"
    serviceName: "compute.googleapis.com"

- type: deploymentmanager.v2.virtual.enableService
  name: enable-storage-api
  properties:
    consumerId: "project: {{ PROJECT_ID }}"
    serviceName: "storage.googleapis.com"

- type: deploymentmanager.v2.virtual.enableService
  name: enable-bigquery-api
  properties:
    consumerId: "project: {{ PROJECT_ID }}"
    serviceName: "bigquery.googleapis.com"

- type: deploymentmanager.v2.virtual.enableService
  name: enable-aiplatform-api
  properties:
    consumerId: "project: {{ PROJECT_ID }}"
    serviceName: "aiplatform.googleapis.com"

- type: deploymentmanager.v2.virtual.enableService
  name: enable-iam-api
  properties:
    consumerId: "project: {{ PROJECT_ID }}"
    serviceName: "iam.googleapis.com"

# Service Account
- type: gcp-types/iam-v1:projects.serviceAccounts
  name: test-account
  properties:
    accountId: {{ SERVICE_ACCOUNT_ID }}
    displayName: {{ SERVICE_ACCOUNT_DISPLAYNAME }}
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/editor
        members:
        {# NOTE: "serviceAccount:value" 全体を文字列としないとエラーとなる #}
        - "serviceAccount:{{ SERVICE_ACCOUNT }}" 
  metadata:
    dependsOn:
      - enable-iam-api

# Cloud Storage Bucket
- type: storage.v1.bucket
  name: bk111      # Deployment name and actual bucket name
  properties:
    project: {{ PROJECT_ID }}
    location: {{ ZONE }}
    predefinedAcl: projectPrivate
    projection: full
    storageClass: STANDARD

# BigQuery
- type: bigquery.v2.dataset
  name: demo_dataset  # Deployment name 
  properties:
    datasetReference:
      datasetId: demo_dataset  # Actual dataset name
    location: {{ ZONE }}
    description: dataset for kubeflow demo

- type: bigquery.v2.table
  name: demo_table   # Deployment name
  properties:
    datasetId: demo_dataset   # Actual dataset name
    tableReference:
      tableId: demo_table
  #   TODO: ここで列のスキーマを定義することも可能。
  #   schema:
  #     fields:
  #       - name: id
  #         type: INTEGER
  #         mode: REQUIRED
  #       - name: value
  #         type: STRING
  #         mode: NULLABLE
  metadata:
    dependsOn:
      - demo_dataset    # Dependent dataset deployment name